* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  background: url("https://i.pinimg.com/736x/0d/92/fe/0d92febe91abff07a1fbd1b8a18de3aa.jpg");
  background-size: cover;
}

h1 {
  font-size: 55px;
  color: yellow;
  line-height: 2;
}

#countdown {
  background-color: rgba(0,0,0,.5);
  padding: 20px;
  font-size: 45px;
  text-align: center;
  color: yellow;
  border-radius: 5px;
}